@font-face {
    font-family: "Russo One";
    src: url("fonts/RussoOne/Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

:root {
    --string-font-size: clamp(10px, calc(100vw * 0.02), 32px);
    --code-font-size: clamp(48px, calc(100vw * 0.08), 128px);
}

.error-container {
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.error-container #error-string {
    display: flex;
    font-family: "Russo One";
    font-weight: normal;
    font-style: normal;
    font-size: var(--string-font-size);
    letter-spacing: 2px;
    color: rgb(255, 245, 255);
}

.error-container #error-code {
    display: flex;
    font-family: "Russo One";
    font-weight: normal;
    font-style: normal;
    font-size: var(--code-font-size);
    letter-spacing: 2px;
    color: rgb(220, 110, 10);
}

.error-container #error-message-1 {
    display: flex;
    font-family: "Russo One";
    font-weight: normal;
    font-style: normal;
    font-size: var(--string-font-size);
    color: rgb(255, 245, 255);
}

.error-container #error-message-2 {
    display: flex;
    font-family: "Russo One";
    font-weight: normal;
    font-style: normal;
    font-size: var(--string-font-size);
    color: rgb(220, 110, 10);
}

.error-container #error-message-3 {
    display: flex;
    font-family: "Russo One";
    font-weight: normal;
    font-style: normal;
    font-size: var(--string-font-size);
    color: rgb(255, 245, 255);
}