* {
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', sans-serif;
    background-color: rgba(33, 33, 33, 1.0);
}

.top-bar {
    position: absolute;
    top: 0%;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    color: rgba(193, 193, 193, 1.0);
    text-align: right;
    background-color: rgba(0, 0, 0, 0.0);
}

.top-bar-logo {
    width: 10%;
    min-width: 128px;
    max-width: 768px;
    height: auto;
    position: absolute;
    top: 0%;
    left: 0%;
    padding-top: 3%;
    padding-left: 6%;
    background-color: rgba(0, 0, 0, 0.0);
}

.top-bar-button {
    transition: all;
    border: none;
    margin-right: 4%;
    font-weight: bold;
    font-size: 90%;
    color: rgba(193, 193, 193, 1.0);
}

.top-bar-button:hover {
    cursor: pointer;
    color: rgba(255, 125, 0, 1.0);
}

.under-construction {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: rgba(193, 193, 193, 1.0);
    background-color: rgba(0, 0, 0, 0.0);
}

.bottom-bar {
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    font-size: 75%;
    text-align: center;
    color: rgba(193, 193, 193, 1.0);
    background-color: rgba(0, 0, 0, 0.0);
}