@font-face {
    font-family: "Jet Brains Mono";
    src: url("fonts/JetBrainsMono-2.304/Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Jet Brains Mono";
    src: url("fonts/JetBrainsMono-2.304/Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

:root {
    --page-body-width: 100vw;
    --page-body-height: 100vh;
    --TOP-BAR-margin-LR: calc(var(--page-body-width) * 0.10);
    --TOP-BAR-margin-TB: max(4px, calc(var(--page-body-height) * 0.025));
    --TOP-BAR-logo-size: 32px;
    --TOP-BAR-logo-string-margin-H: 4px;
    --TOP-BAR-string-size: 16px;
    --TOP-BAR-button-size: 13px;
    --TOP-BAR-button-gap-margin-L: calc(var(--page-body-width) * 0.04);
    --TOP-BAR-button-transition-time: 0.3s;
    --BOTTOM-BAR-margin-LR: var(--TOP-BAR-margin-LR);
    --BOTTOM-BAR-margin-T: var(--TOP-BAR-margin-TB);
    --BOTTOM-BAR-margin-B: 2px;
    --BOTTOM-BAR-copyright-size: 10px;
    --primary-color: rgba(220, 110, 10, 1.0);
    --secondary-color: rgba(33, 33, 53, 1.0);
    --tertiary-color: rgba(255, 245, 255, 1.0);
    --page-highlight-color: rgba(0, 128, 128, 1.0);
    --page-background-color: var(--secondary-color);
    --TOP-BAR-string-color: var(--tertiary-color);
    --TOP-BAR-button-color: var(--primary-color);
    --TOP-BAR-button-hover-color: var(--tertiary-color);
    --TOP-BAR-button-active-color: var(--tertiary-color);
    --TOP-BAR-button-current-color: var(--tertiary-color);
    --BOTTOM-BAR-copyright-color: var(--tertiary-color);
}

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

*::selection {
    background-color: var(--page-highlight-color);
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Jet Brains Mono";
    letter-spacing: 1.2px;
    width: var(--page-body-width);
    height: var(--page-body-height);
    background-color: var(--page-background-color);
}

.TOP-BAR {
    display: flex;
    margin-top: var(--TOP-BAR-margin-TB);
    margin-bottom: var(--TOP-BAR-margin-TB);
    margin-left: var(--TOP-BAR-margin-LR);
    margin-right: var(--TOP-BAR-margin-LR);
    align-items: center;
}

.TOP-BAR-logo {
    cursor: default;
    display: flex;
    width: var(--TOP-BAR-logo-size);
    height: var(--TOP-BAR-logo-size);
    margin-right: var(--TOP-BAR-logo-string-margin-H);
}

.TOP-BAR-string {
    cursor: default;
    display: flex;
    font-size: var(--TOP-BAR-string-size);
    font-weight: bold;
    font-style: normal;
    color: var(--TOP-BAR-string-color);
}

.TOP-BAR-navigation {
    display: flex;
    margin-left: auto;
}

.TOP-BAR-links {
    display: flex;
    list-style: none;
}

.TOP-BAR-button {
    display: flex;
    margin-left: var(--TOP-BAR-button-gap-margin-L);
    font-size: var(--TOP-BAR-button-size);
    font-weight: bold;
    font-style: normal;
}

.TOP-BAR-button a {
    text-decoration: none;
    transition: color var(--TOP-BAR-button-transition-time);
    color: var(--TOP-BAR-button-color);
}

.TOP-BAR-button a:hover {
    color: var(--TOP-BAR-button-hover-color);
}

.TOP-BAR-button a:active {
    color: var(--TOP-BAR-button-active-color);
}

#current-page {
    cursor: default;
    transform: none;
    color: var(--TOP-BAR-button-current-color);
}

.BOTTOM-BAR {
    display: flex;
    justify-content: center;
    margin-top: var(--BOTTOM-BAR-margin-T);
    margin-bottom: var(--BOTTOM-BAR-margin-B);
    margin-left: var(--BOTTOM-BAR-margin-LR);
    margin-right: var(--BOTTOM-BAR-margin-LR);
}

.BOTTOM-BAR-copyright {
    cursor: default;
    display: flex;
    font-size: var(--BOTTOM-BAR-copyright-size);
    font-weight: normal;
    font-style: normal;
    color: var(--BOTTOM-BAR-copyright-color);
}

/* --------- UNDER CONSTRUCTION --------- */

.MAIN-CONTENT {
    display: flex;
    width: calc(100% - var(--TOP-BAR-margin-LR));
    height: 100%;
    margin-left: calc(var(--TOP-BAR-margin-LR) * 0.5);
}

/* --------- UNDER CONSTRUCTION --------- */