@font-face
{
    font-family: "Monaspace Xenon";
    src: url("../../fonts/Monaspace-Xenon-v1.200/400.woff2?v=0.0.0") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root
{
    --clr-error-string: var(--clr-secondary);
    --clr-error-code: var(--clr-tertiary);
    --clr-error-message-1: var(--clr-error-string);
    --clr-error-message-2: var(--clr-error-code);
    --clr-error-message-3: var(--clr-error-string);

    --f-size-error-string: clamp(24px, 4vw, 64px);
    --f-size-error-code: clamp(96px, 16vw, 256px);
    --f-size-error-message-1: clamp(12px, 2vw, 32px);
    --f-size-error-message-2: var(--f-size-error-message-1);
    --f-size-error-message-3: var(--f-size-error-message-1);
}

.error-container
{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    align-items: center;
}

.error-container *
{
    font-family: "Monaspace Xenon";
    font-weight: 400;
    font-style: normal;
}

#error-string
{
    font-size: var(--f-size-error-string);
    color: var(--clr-error-string);
}

#error-code
{
    font-size: var(--f-size-error-code);
    color: var(--clr-error-code);
}

#error-message-1
{
    font-size: var(--f-size-error-message-1);
    color: var(--clr-error-message-1);
}

#error-message-2
{
    font-size: var(--f-size-error-message-2);
    line-height: 2;
    color: var(--clr-error-message-2);
}

#error-message-3
{
    font-size: var(--f-size-error-message-3);
    color: var(--clr-error-message-3);
}
