@font-face
{
    font-family: "Monaspace Xenon";
    src: url("../../fonts/Monaspace-Xenon-v1.200/400.woff2?v=0.0.0") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root
{
    --clr-error-1: var(--clr-secondary);
    --clr-error-2: var(--clr-tertiary);
    --clr-error-3: var(--clr-error-1);
    --clr-error-4: var(--clr-error-2);
    --clr-error-5: var(--clr-error-1);

    --f-size-error-1: clamp(24px, 4vw, 64px);
    --f-size-error-2: clamp(96px, 16vw, 256px);
    --f-size-error-3: clamp(12px, 2vw, 32px);
    --f-size-error-4: var(--f-size-error-3);
    --f-size-error-5: var(--f-size-error-3);
}

.error-info
{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    align-items: center;
}

.error-info *
{
    font-family: "Monaspace Xenon";
    font-weight: 400;
    font-style: normal;
}

#error-1
{
    font-size: var(--f-size-error-1);
    color: var(--clr-error-1);
}

#error-2
{
    font-size: var(--f-size-error-2);
    color: var(--clr-error-2);
}

#error-3
{
    font-size: var(--f-size-error-3);
    color: var(--clr-error-3);
}

#error-4
{
    font-size: var(--f-size-error-4);
    line-height: 2;
    color: var(--clr-error-4);
}

#error-5
{
    font-size: var(--f-size-error-5);
    color: var(--clr-error-5);
}
