@font-face
{
    font-family: "Monaspace Xenon";
    src: url("/fonts/Monaspace-Xenon-v1.301/400.woff2?v=0.0.0") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root
{
    --clr-error-1: var(--clr-secondary);
    --clr-error-2: var(--clr-tertiary);
    --clr-error-3: var(--clr-error-1);
    --clr-error-4: var(--clr-error-2);
    --clr-error-5: var(--clr-error-1);

    --f-family-error-info-child: "Monaspace Xenon";

    --f-weight-error-info-child: 400;

    --f-size-error-1: calc(var(--f-size-head-title) * 2);
    --f-size-error-2: var(--f-size-error-1);
    --f-size-error-3: var(--f-size-head-title);
    --f-size-error-4: var(--f-size-error-3);
    --f-size-error-5: var(--f-size-error-3);

    --m-t-error-3: 1vh;
    --m-t-error-4: var(--m-t-error-3);
    --m-t-error-5: var(--m-t-error-3);

    --p-l-error-info-child: 2vw;
    --p-r-error-info-child: var(--p-l-error-info-child);
}

#error-info
{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#error-info *
{
    padding-left: var(--p-l-error-info-child);
    padding-right: var(--p-r-error-info-child);
    font-family: var(--f-family-error-info-child);
    font-weight: var(--f-weight-error-info-child);
}

#error-1
{
    font-size: var(--f-size-error-1);
    color: var(--clr-error-1);
}

#error-2
{
    font-size: var(--f-size-error-2);
    color: var(--clr-error-2);
}

#error-3
{
    margin-top: var(--m-t-error-3);
    font-size: var(--f-size-error-3);
    color: var(--clr-error-3);
}

#error-4
{
    margin-top: var(--m-t-error-4);
    font-size: var(--f-size-error-4);
    color: var(--clr-error-4);
}

#error-5
{
    margin-top: var(--m-t-error-5);
    font-size: var(--f-size-error-5);
    color: var(--clr-error-5);
}
