:root
{
    --clr-contact-1: var(--clr-secondary);
    --clr-contact-3: var(--clr-contact-1);
    --clr-contact-4: var(--clr-tertiary);
    --clr-contact-5: var(--clr-contact-1);
    --clr-contact-6: var(--clr-contact-4);

    --f-weight-contact-info-child: 400;

    --f-size-contact-1: clamp(14px, 2vw, 24px);
    --f-size-contact-3: var(--f-size-contact-1);
    --f-size-contact-4: var(--f-size-contact-1);
    --f-size-contact-5: var(--f-size-contact-1);
    --f-size-contact-6: var(--f-size-contact-1);

    --m-t-contact-3: 3vh;
    --m-t-contact-5: 1vh;

    --p-l-contact-info: 5vw;

    --p-r-contact-info: var(--p-l-contact-info);

    --w-contact-info: min(78vw, 1000px);
}

#contact-info
{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: var(--p-l-contact-info);
    padding-right: var(--p-r-contact-info);
    width: var(--w-contact-info);
    display: flex;
    flex-direction: column;
}

#contact-info *
{
    font-weight: var(--f-weight-contact-info-child);
}

#contact-1
{
    font-size: var(--f-size-contact-1);
    color: var(--clr-contact-1);
}

#contact-2
{
    align-self: center;
}

#contact-3
{
    margin-top: var(--m-t-contact-3);
    font-size: var(--f-size-contact-3);
    color: var(--clr-contact-3);
}

#contact-4
{
    display: inline-flex;
    font-size: var(--f-size-contact-4);
    color: var(--clr-contact-4);
}

#contact-5
{
    margin-top: var(--m-t-contact-5);
    font-size: var(--f-size-contact-5);
    color: var(--clr-contact-5);
}

#contact-6
{
    display: inline-flex;
    font-size: var(--f-size-contact-6);
    color: var(--clr-contact-6);
}
