@font-face
{
    font-family: "Monaspace Neon";
    src: url("/fonts/Monaspace-Neon-v1.200/200.woff2?v=0.0.0") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: "Monaspace Neon";
    src: url("/fonts/Monaspace-Neon-v1.200/300.woff2?v=0.0.0") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: "Monaspace Neon";
    src: url("/fonts/Monaspace-Neon-v1.200/400.woff2?v=0.0.0") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: "Monaspace Neon";
    src: url("/fonts/Monaspace-Neon-v1.200/500.woff2?v=0.0.0") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: "Monaspace Neon";
    src: url("/fonts/Monaspace-Neon-v1.200/600.woff2?v=0.0.0") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: "Monaspace Neon";
    src: url("/fonts/Monaspace-Neon-v1.200/700.woff2?v=0.0.0") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: "Monaspace Neon";
    src: url("/fonts/Monaspace-Neon-v1.200/800.woff2?v=0.0.0") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

:root
{
    --f-family-default: "Monaspace Neon";

    --clr-primary: rgba(33, 33, 53, 1.0);
    --clr-secondary: rgb(215, 215, 215);
    --clr-tertiary: rgb(220, 110, 10);
    --clr-default-bg: var(--clr-primary);
    --clr-default-selection-bg: rgba(0, 128, 128, 1.0);
    --clr-default-selection-text: rgb(255, 64, 87, 1.0);
    --clr-head-title: var(--clr-secondary);
    --clr-head-toggle-bg: var(--clr-primary);
    --clr-head-toggle: var(--clr-tertiary);
    --clr-head-toggle-hover: var(--clr-secondary);
    --clr-head-toggle-active: var(--clr-head-toggle-hover);
    --clr-head-link: var(--clr-tertiary);
    --clr-head-link-hover: var(--clr-head-toggle-hover);
    --clr-head-link-active: var(--clr-head-link-hover);
    --clr-head-link-current: var(--clr-head-link-active);
    --clr-foot-copyright: var(--clr-secondary);

    --m-l-head: 0vw;
    --m-r-head: 0vw;
    --m-t-head: 0vh;
    --m-b-head: 0vh;
    --p-l-head: 0vw;
    --p-r-head: 0vw;
    --p-t-head: 3vh;
    --p-b-head: 1vh;
    --m-tb-head: calc(var(--m-t-head) + var(--m-b-head));
    --p-tb-head: calc(var(--p-t-head) + var(--p-b-head));
    --mp-l-head: calc(var(--m-l-head) + var(--p-l-head));
    --mp-tb-head: calc(var(--m-tb-head) + var(--p-tb-head));

    --m-l-head-logo: 10vw;
    --m-r-head-logo: 2vw;
    --w-head-logo: clamp(32px, 4vw, 48px);
    --h-head-logo: var(--w-head-logo);

    --f-weight-head-title: 500;
    --f-size-head-title: clamp(12px, 2vw, 22px);

    --m-r-head-nav: calc(var(--mp-l-head) + var(--m-l-head-logo));

    --f-weight-head-toggle: 800;
    --f-size-head-toggle: min(var(--f-size-head-title), 16px);

    --pos-r-head-list: var(--m-r-head-nav);
    --pos-t-head-list: calc(var(--mp-tb-head) + var(--h-head-logo));
    --f-weight-head-list: 600;
    --f-size-head-list: var(--f-size-head-toggle);

    --m-t-head-list-item: clamp(6px, 2vh, 12px);

    --m-l-foot: 0vw;
    --m-r-foot: 0vw;
    --m-t-foot: 0vh;
    --m-b-foot: 0vh;
    --p-l-foot: 0vw;
    --p-r-foot: 0vw;
    --p-t-foot: 1vh;
    --p-b-foot: max(1vh, 6px);

    --f-weight-foot-copyright: 400;
    --f-size-foot-copyright: clamp(8px, 1vw, 12px);
}

*
{
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: var(--f-family-default);
}

*::selection
{
    background-color: var(--clr-default-selection-bg);
    color: var(--clr-default-selection-text);
}

body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-default-bg);
}

header
{
    margin-left: var(--m-l-head);
    margin-right: var(--m-r-head);
    margin-top: var(--m-t-head);
    margin-bottom: var(--m-b-head);
    padding-left: var(--p-l-head);
    padding-right: var(--p-r-head);
    padding-top: var(--p-t-head);
    padding-bottom: var(--p-b-head);
    display: flex;
    white-space: nowrap;
    align-items: center;
}

#header-logo
{
    margin-left: var(--m-l-head-logo);
    margin-right: var(--m-r-head-logo);
    width: var(--w-head-logo);
    height: var(--h-head-logo);
}

#header-title
{
    font-weight: var(--f-weight-head-title);
    font-size: var(--f-size-head-title);
    color: var(--clr-head-title);
}

#header-nav
{
    margin-left: auto;
    margin-right: var(--m-r-head-nav);
}

#header-toggle
{
    font-weight: var(--f-weight-head-toggle);
    font-size: var(--f-size-head-toggle);
    background-color: var(--clr-head-toggle-bg);
    color: var(--clr-head-toggle);
}

@media (hover:hover)
{
    #header-toggle:hover
    {
        cursor: pointer;
        color: var(--clr-head-toggle-hover);
    }
}

#header-toggle.header-toggle-active
{
    text-decoration: underline;
    text-underline-offset: calc(var(--f-size-head-toggle) / 4);
    text-decoration-thickness: calc(var(--f-size-head-toggle) / 6);
    text-decoration-color: var(--clr-head-toggle-active);
}

#header-list
{
    position: absolute;
    right: var(--pos-r-head-list);
    top: var(--pos-t-head-list);
    font-weight: var(--f-weight-head-list);
    font-size: var(--f-size-head-list);
    letter-spacing: calc(var(--f-size-head-list) / 4);
    display: none;
    flex-direction: column;
    align-items: flex-end;
}

#header-list.header-toggle-active
{
    display: flex;
}

#header-list :not(:first-child)
{
    margin-top: var(--m-t-head-list-item);
}

.header-link
{
    list-style: none;
}

.header-link a
{
    text-decoration: none;
    color: var(--clr-head-link);
}

@media (hover:hover)
{
    .header-link a:hover
    {
        color: var(--clr-head-link-hover);
    }
}

.header-link a:active
{
    color: var(--clr-head-link-active);
}

#here
{
    pointer-events: none;
    color: var(--clr-head-link-current);
}

main
{
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    flex-grow: 1;
}

footer
{
    margin-left: var(--m-l-foot);
    margin-right: var(--m-r-foot);
    margin-top: var(--m-t-foot);
    margin-bottom: var(--m-b-foot);
    padding-left: var(--p-l-foot);
    padding-right: var(--p-r-foot);
    padding-top: var(--p-t-foot);
    padding-bottom: var(--p-b-foot);
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

#footer-copyright
{
    font-weight: var(--f-weight-foot-copyright);
    font-size: var(--f-size-foot-copyright);
    align-self: center;
    color: var(--clr-foot-copyright);
}
